@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-\*: initial;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--card: #ffffff;
	--card-foreground: #3f434a;
	--popover: #ffffff;
	--popover-foreground: #3f434a;
	--primary: #21943a;
	--primary-foreground: #ffffff;
	--secondary: #e8e9eb;
	--secondary-foreground: #3f434a;
	--muted: #e8e9eb;
	--muted-foreground: #8a9099;
	--accent: #e8e9eb;
	--accent-foreground: #21943a;
	--destructive: #dc2626;
	--border: #e8e9eb;
	--input: #e8e9eb;
	--ring: #21943a;
	--chart-1: #21943a;
	--chart-2: #8a9099;
	--chart-3: #3f434a;
	--chart-4: #595f69;
	--chart-5: #e8e9eb;
	--sidebar: #ffffff;
	--sidebar-foreground: #3f434a;
	--sidebar-primary: #21943a;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #e8e9eb;
	--sidebar-accent-foreground: #21943a;
	--sidebar-border: #e8e9eb;
	--sidebar-ring: #21943a;
	--background: #ffffff;
	--foreground: #3f434a;
}

.dark {
	--background: #595f69;
	--foreground: #ffffff;
	--card: #3f434a;
	--card-foreground: #ffffff;
	--popover: #3f434a;
	--popover-foreground: #ffffff;
	--primary: #21943a;
	--primary-foreground: #ffffff;
	--secondary: #595f69;
	--secondary-foreground: #ffffff;
	--muted: #595f69;
	--muted-foreground: #8a9099;
	--accent: #595f69;
	--accent-foreground: #ffffff;
	--destructive: #dc2626;
	--border: #e8e9eb;
	--input: #e8e9eb;
	--ring: #21943a;
	--chart-1: #21943a;
	--chart-2: #8a9099;
	--chart-3: #3f434a;
	--chart-4: #595f69;
	--chart-5: #e8e9eb;
	--sidebar: #3f434a;
	--sidebar-foreground: #ffffff;
	--sidebar-primary: #21943a;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #595f69;
	--sidebar-accent-foreground: #ffffff;
	--sidebar-border: #e8e9eb;
	--sidebar-ring: #21943a;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
